/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}


:root {
    --background-color: #ffffff;
    --block-background: #f0f0f0;
    --text-color: #000000;
    --text-secondary-color: #666;
    --border-color: #ccc;
    --button-background: linear-gradient(250deg, #3a86ff, #ff006e, #8338ec);
    --button-hover: linear-gradient(135deg, #3a86ff, #ff006e, #8338ec);
    --progress-bar-background: #ccc;
  }
  
  [data-theme="dark"] {
    --background-color: #121212;
    --block-background: #181818;
    --text-color: #ffffff;
    --text-secondary-color: #b3b3b3;
    --border-color: #333;
    --button-background: linear-gradient(250deg, #3a86ff, #ff006e, #8338ec);
    --button-hover: linear-gradient(135deg, #3a86ff, #ff006e, #8338ec);
    --progress-bar-background: #333;
  }